body {
	padding: 0;
	margin: 0;
}

#section1,
#section5 {
	background: #1F2937;
}

#signupTop {
	font-size: 18px;
	color: #E5E7EB;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

#signupTop {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 12px;
  background: royalblue;
  border: 1px solid royalblue;
}

#header-links {
	font-size: 22px;
	color: #E5E7EB;
	display: flex;
	gap: 1rem;
}

#hero-left-heading {
	font-size: 48px;
	font-weight: 900px;
	color: #F9FAF8;
}

#hero-left-text {
	color: white;
	font-size: 18px;
}

#section5 {
	padding: 10px 20px;
}

#section1 {
	padding: 30px 50px;
}

#section1-wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0 20rem;
	padding-bottom: 40px;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#header-logo > img {
	width: 120px;
	height: auto;
	border-radius: 50px;
}

#hero {
	display: flex;
	flex: 1;
	gap: 5rem;
}

/* #hero-left { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	align-items: flex-start; */
/* 	justify-content: center; */
/* 	flex: 1; */
/* } */

/* #hero-right { */
/* 	display: flex; */
/* } */

#hero-right > img {
	width: 800px;
	height: auto;
	border-radius: 20px;
	align-self: stretch;
	flex: 1;
	background-size: cover;
}
